include head

.fixed.outter
  a.top(href='#') ▲ 回到顶部

.absolute.outter
  .inner
    nav
      a(href='/', class= type == 'latest' ? 'active' : '') 最新
      = ' | '
      a(href='/all', class= type == 'all' ? 'active' : '') 全部
      = ' | '
      a(href='/selected', class = type == 'selected' ? active : '') 精选
    div.logo
      a(href='#about')
        span.about= 'about | '
        span sucklessInfo
#container: .inner
  .prev-next.clear
    - if (typeof prev != 'undefined')
      a.prev(href='/blog/' + prev.index)= '◤ ' + prev.title
    - if (typeof next != 'undefined')
      a.next(href='/blog/' + next.index)= next.title + ' ◢'
  section#main
    .meta
      h1.title= title
      datetime= ('undefined' != typeof date ? date : '')
      img(alt='cover', src= 'http://sucklessinfo.b0.upaiyun.com/'+index+'/0-c.jpg')
      .description= ('undefined' != typeof description ? description : '')
    - document = 'undefined' == typeof wx ? document : document.replace(/<\/?p>/gi, '<br>')
    article!= document
    .the-end - The End -
  include about