- var title = type=='selected'?'精选文章':'全部文章'
title!= title + ' - sucklessInfo'
meta(charset="utf-8")
meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel="stylesheet", href="/static/style.css")
          
.fixed.outter
  a.top(href='#') ▲ 回到顶部

.absolute.outter
  .inner
    nav
      a(href='/', class= type == 'latest' ? 'active' : '') 最新
      = ' | '
      a(href='/all', class= type == 'all' ? 'active' : '') 全部
      = ' | '
      a(href='/selected', class = type == 'selected' ? 'active' : '') 精选
    div.logo
      a(href='#about')
        span.about= 'about | '
        span sucklessInfo
#container: .inner
  div
    - if (typeof prev != 'undefined')
      a.prev(href='/blog/' + prev.index) 上一篇
    - if (typeof next != 'undefined')
      a.next(href='/blog/' + next.index) 下一篇
  section#main
    h1= title
    ul.article-list
      - each entry in list
        li
          a(href='/blog/'+entry.index)= entry.title
          div= entry.description
  include about